<div class="dashboard-layout">
  
  <app-sidebar 
    [isOpen]="isSidebarOpen" 
    [nomeUtilizador]="nome"
    [emailUtilizador]="email"
    [inicialAvatar]="inicial"
    (close)="toggleSidebar()"
    (logoutAction)="realizarLogout()">
  </app-sidebar>

  <main class="main-content">
    
    <app-navbar 
      (toggleSidebar)="toggleSidebar()"
      title="Overview de Pedidos"
      description="Acompanhe e gira os pedidos de ajuda da comunidade em tempo real.">
    </app-navbar>
    
    <section class="dashboard-body">
      <router-outlet></router-outlet>
    </section>

    <app-footer></app-footer>

  </main>
</div>